<section class="index">

  <h1>All Video Games</h1>

  <button type="button">
    <a href="/games/new">Add New Game</a>
  </button>

  <br><br>

  <table>

    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Genre</th>
      <th>Platform(s)</th>
      <th>Stock</th>
      <th>Cost</th>
      <th>Retail Price</th>
      <th>Markup</th>
      <th>Publisher</th>
    </tr>

    <% for game in @games %>

      <% if game.stock_quantity == 0 %></p>
        <tr class="out-of-stock">
      <% elsif game.stock_quantity <= 5%>
        <tr class="low-stock">
      <% else %>
        <tr>
      <% end %>

          <td><a href="/games/<%= game.id %>"><%= game.title %></a></td>
          <td><%= game.description %></td>
          <td><%= game.genre %></td>
          <td>
            <% for platform in game.platform %>
              <%= platform.name %>
            <% end %>
          </td>
          <td><%= game.stock_quantity %></td>
          <td>£<%= game.buying_cost %></td>
          <td>£<%= game.selling_price %></td>
          <td><%= game.markup %> %</td>
          <td>
            <a href="/publishers/<%= game.publisher.id %>"><%= game.publisher.name %></a>
          </td>
        </tr>

    <% end %>

  </table>

</section>
