<h1><%= @game.title %></h1>

<p><%= @game.description %></p>
<br>
<p>Stock: <%= @game.stock_quantity %></p>
<p>Cost: <%= @game.buying_cost %></p>
<p>Selling Price: <%= @game.selling_price %></p>

<p>Publisher: <%= @game.publisher_id %></p>
