<section class="show">

  <h1><%= @game.title %></h1>

  <h3><%= @game.description %></h3>

  <section class="table-show">

  <table>
    <tr>
      <td>Stock:</td>
      <td><%= @game.stock_quantity %></td>
    </tr>
    <tr>
      <td>Genre:</td>
      <td><%= @game.genre %></td>
    </tr>
    <tr>
      <td>Platform(s):</td>
      <td><% for platform in @game.platform %>
        <%= platform.name %>
      <% end %>
    </td>
    </tr>
    <tr>
      <td>Publisher:</td>
      <td><%= @game.publisher.name %></td>
    </tr>
    <tr>
      <td>Buy Cost:</td>
      <td>£<%= @game.buying_cost %></td>
    </tr>
    <tr>
      <td>Sell Price:</td>
      <td>£<%= @game.selling_price %></td>
    </tr>
    <tr>
      <td>Markup:</td>
      <td><%= @game.markup %>%</td>
    </tr>
  </table>

  <br>
  <button type="button">
    <a href="/games/<%= @game.id %>/edit">Edit Game</a>
  </button>

  <form action="/games/<%= @game.id %>/delete" method="POST"><input type="submit" value="Delete" class="button"></form>


</section>

</section>
