<h1><%= @game.title %></h1>

<p><%= @game.description %></p>
<br>
<p>Stock: <%= @game.stock_quantity %></p>
<p>Cost: <%= @game.buying_cost %></p>
<p>Selling Price: <%= @game.selling_price %></p>

<p>Publisher: <%= @game.publisher_id %></p>

<p><a href="/games/<%= @game.id %>/edit">Edit Game</a></p>
<form action="/games/<%= @game.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
