<section class="show">

  <h1><%= @game.title %></h1>

  <h4><em><%= @game.description %></em></h4>

  <table>
    <tr>
      <td><strong>Stock:</strong></td>
      <td><%= @game.stock_quantity %></td>
    </tr>
    <tr>
      <td><strong>Genre:</strong></td>
      <td><%= @game.genre %></td>
    </tr>
    <tr>
      <td><strong>Platform(s):</strong></td>
      <td>
        <% for platform in @game.platform %>
          <p><%= platform.name %></p>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><strong>Publisher:</strong></td>
      <td><%= @game.publisher.name %></td>
    </tr>
    <tr>
      <td><strong>Cost:</strong></td>
      <td>£<%= @game.buying_cost %></td>
    </tr>
    <tr>
      <td><strong>Retail Price:</strong></td>
      <td>£<%= @game.selling_price %></td>
    </tr>
    <tr>
      <td><strong>Markup:</strong></td>
      <td><%= @game.markup %>%</td>
    </tr>
  </table>

  <button type="button">
    <a href="/games/<%= @game.id %>/edit">Edit Game</a>
  </button>

  <form action="/games/<%= @game.id %>/delete" method="POST">
    <input type="submit" value="Delete" class="button">
  </form>

</section>
