<section class="show">

  <h1><%= @publisher.name %></h1>

  <section class="table-show">

    <table>
      <tr>
        <td>Games:</td>
        <td>
          <% for game in @publisher.games %>
            <%= game.title %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Name:</td>
        <td><%= @publisher.contact_name %></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><%= @publisher.contact_email %></td>
      </tr>
    </table>

    <br>

    <button type="button">
      <a href="/publishers/<%= @publisher.id %>/edit">Edit Publisher</a>
    </button>

    <form action="/publishers/<%= @publisher.id %>/delete" method="POST"><input type="submit" value="Delete" class="button"></form>

  </section>
</section>
