<section class="show">

  <h1><%= @publisher.name %></h1>

  <% for game in @publisher.games %>
    <%= game.title %>
  <% end %>

  <hr>
  <p>Contact Details</p>
  <p>Name: <%= @publisher.contact_name %></p>
  <p>Email: <%= @publisher.contact_email %></p>
  <hr>

  <button type="button">
    <a href="/publishers/<%= @publisher.id %>/edit">Edit Publisher</a>
  </button>

  <form action="/publishers/<%= @publisher.id %>/delete" method="POST"><input type="submit" value="Delete" class="button"></form>

</section>
