<h1><%= @publisher.name %></h1>

<p>Contact Details</p>
<p>Name: <%= @publisher.contact_name %></p>
<p>Email: <%= @publisher.contact_email %></p>

<p><a href="/publishers/<%= @publisher.id %>/edit">Edit Publisher</a></p>
<form action="/publishers/<%= @publisher.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
